@import url("https://use.typekit.net/ybu6juw.css");

.container {
    display: grid;
    width: 100%;
    grid-template-columns: auto 70% auto;
    grid-column-gap: 5%;
    background: cornsilk;
    background-image: url("../img/condom-popart.png");
    background-attachment: fixed;
    background-position: 62% 185%;
    background-size: 30%;
    background-repeat: no-repeat;
}

body {
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-variant-ligatures: normal;
}

header {
    grid-column: 2 / 3;
    margin-top: 100px;
}

h1 {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    margin: 0;
}

header h2 {
    font-family: "lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 52px;
    color: #f8638d;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 1.2em;
}

header h2:first-of-type {
    color: black;
}

header h3 {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
}

header h3:first-of-type {
    margin-top: 65px;
}

header em {
    font-style: italic;
}

.sidebar {
    grid-column: 1 / 2;
    margin: 0;
    padding-top: 85px;
    width: 160px;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.02em;
}

a {
    display: block;
    color: #89c9d1;
    padding: 16px;
  }

p a {
    display: inline;
    color: #89c9d1;
    padding: 0;
  }


a:visited {
    color: #e79cc4
}

a:hover {
    color: #ee2758
}

a:active {
    color: #f8638d
}

main {
    grid-column: 2 / 3;
    margin-top: 50px;
}

section {
    border-top: solid #ee2758 4px;
    padding-left: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
    margin-top: 50px;
    background: white;
    box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.4);
}

section h2 {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    margin-top: 50px;
}

section h3 {
    font-weight: 800;
    font-size: 38px;
    letter-spacing: 0.02em;
    margin-top: 0.8em;
    line-height: 1.1em;
}

section h4 {
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 0.02em;
    margin-top: 50px;
}

section p {
    text-transform: none;
    letter-spacing: normal;
    line-height: 1.5em;
}

ul {
    list-style-type: none;
    list-style-position: outside;
    margin-top: 2em;
}

li {
    background-color: rgba(248, 99, 141, 0.17);
    margin-bottom: 1em;
    border-left: solid #ee2758 4px;
    padding: 0.5em 1em 0.5em 2em;
}

.call-action {
    margin-top: 125%;
    padding-top: 20px;
    border-top: solid #fdca9f 1px;
}

.call-action a {
    font-style: italic;
    color: #f8a79e;
}

#introduction img {
    max-width: 100%;
    padding-bottom: 20px;
}

#introduction .legend {
    max-width: 70%;
}

#sexwrap img {
    justify-content: right;
    max-width: 12%;
}

#memeification img {
    max-width: 100%;
    padding-top: 50px;
}

#memeification .branding {
    max-width: 50%;
    padding-top: 50px;
}

#memeification .legend {
    max-width: 50%;
    padding-top: 50px;
}

footer {
    grid-column: 2 / 3;;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
    background-color: cornsilk;
    color: #f8a79e;
    margin: 50px 15% 0 15%;
    padding-top: 25px;
    padding-bottom: 25px;
}

footer p {
    font-size: 12px;
    text-transform: none;
    letter-spacing: normal;
    color: #232323;
    padding-top: 1em;
}