header {
    margin: auto;
    width: 80%;
}

h1 {
    font-family: "Operetta 12", serif;
    font-size: 65pt;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2pt;
}

h1::first-letter {
    font-feature-settings: "swsh";
}

main {
    font-family: "Lato", sans-serif;
    font-size: 9pt;
    margin: auto;
    width: 80%;
}

#column-left {
    float: left;
    width: 25%;
    margin-left: 10%;
}

#column-right {
    float: right;
    width: 45%;
    margin-right: 10%;
}

#xtra-space {
    margin-top: 2em;
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 16pt;
    font-weight: lighter;
    letter-spacing: 2pt;
    margin-top: 2.3em;
    margin-bottom: 1em;
    width: inherit;
}

h3 {
    font-family: "Lato Thin", sans-serif;
    font-size: 11pt;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5pt;
    margin-top: 2em;
    margin-bottom: 0.2em;
}

h4 {
    font-family: "Jubilat", serif;
    font-style: italic;
    font-size: 10pt;
    font-weight: 200;
    letter-spacing: 0.05em;
    margin-top: 0.5em;
    margin-bottom: 0.8em;
}

p {
    margin: 0;
}

img {
    max-width: 1em;
    max-height: 1.2em;
    padding-right: 1em;
}

ul {
    list-style-type: none;
    list-style-position: inside;
    margin-top: 3em;
    padding: 0;
}

li {
    margin-bottom: 1em;
}

section#work-experience ul, section#strengths ul {
    list-style-type: circle;
    list-style-position: outside;
    margin-top: 0;
    margin-left: 1em;
}

section#work-experience li, section#strengths li {
    padding-left: 1em;
    margin-bottom: 0.5em;
}

dd {
    font-family: "Jubilat", serif;
    font-style: italic;
    font-size: 8.5pt;
    letter-spacing: 0.05em;
    margin-top: 0.2em;
    margin-left: 0;
    margin-bottom: 1em;
}

a:link {
    color: black;
}

a:hover {
    color: skyblue;
}

a:active {
    color: lightblue
}

a:visited {
    color: grey;
}